.choosen_box{
    width: 1338px;
    height: 812px;
  
    margin: 24px auto;
    border-radius: 16px;
    border: 1px solid #a1a3a8;
    position: relative;
    .choosen_title{
        width: inherit;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    border-radius:  16px 16px 0px 0px ;
    font-size: 21px;
    font-weight:550;
svg{
    width: 20px;
    height: 20px;
    fill: red;
    margin-left: 9px;
}

    }
    .cell_g{
        width:1336;
        height:724px;
    
    background-color:#c0c2c5;
    border-radius: 0px 0px 16px 16px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1px;
    position:absolute;
    bottom: 1px;
    left: 1px;
    right: 1px;
    .choosen_cell{
     
        width: 200;
        height: 241px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: white;
        .cphoto{
            width: 200px;
            height: 150px;
         
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            .yy{
                width: 150px;
            }
         }
         .c_discount{
            width: 200px;
            height: 35px;
           
            margin-top: 10px;
            display: flex;
            align-items: center;
            position: relative;
                .percent{
                    background-color: red;
                    width: 34px;
                    height: 20px;
                    border-radius: 20px;
                    font-size: 12px;
                    color: aliceblue;
                    position: absolute;
                    right: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            font-size: 16px;
            justify-content:end;
    svg{
        width: 16px;
        height: 16px;
        fill: black;
    }

         }
         .c_lastp{
            width: 200px;
            height: 20px;
            font-size: 12px;
            color: #c0c2c5;
            text-decoration: line-through;
            padding-right:145px;
            margin-top: 10px;
         }
         &:nth-last-of-type(1){
           
            border-radius: 0px 0px 0px 16px;
         }
         &:nth-last-of-type(6){
           
            border-radius: 0px 0px 16px 0px;
         }

        }

    }
    }

    
