.story__box{
    width:100%;
    height:170px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    
    .story{
        width: 85%;
        height: inherit;
  
        display: flex;
      .story__col{
            width: 1354px;    
            height:100%;
       
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 12px;
            
            .story__image{
                width: 74px;
                height: 74px;
                border-radius: 50%;
                outline: 3px solid purple;
                outline-offset: 3px;
                .img1{
                width:100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        
            }
            .story__text{
                width: 100%;
                font-size: 11px;
                text-align:center;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            } 
        }
}


}